.Shilpa {
    font-size: 50px;
    font-weight: 400;
    color: blueviolet;
    margin-top: 150px;
}

.hobby {
    font-size: 50px;
    font-weight: 400;
    color: red;
}

.t_c {
    text-align: center;
}

.j_c {
    justify-content: center;
}

.d-flex {
    display: flex;
}

.Best_friend {
    font-size: 50px;
    font-weight: 400;
    color: purple;
}
section{
    /* background-image: url(../image/image\ 63.png); */
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    width: 80%;
}